/*
Theme Name: Education Xpert
Theme URI: https://sparklewpthemes.com/wordpress-themes/educationxpert
Author: sparklewpthemes
Author URI: https://sparklewpthemes.com
Description: Education Xpert simple clean and awesome fully customizable responsive Free Education WordPress Themes, Education Xpert specially design for all type of educational institutions websites. Education Xpert is one of the most accessible Free Education WordPress Themes which can easily accommodate all type of users with no coding skills to advanced or normal web developers. Education Xpert Free Education WordPress Themes includes excellent features for educational website and practices of all type of educational business, themes have included more advanced features like one-click demo data import, primary theme color, list courses section, about section, call to action, services list section display team member, success store counter, testimonial section, blog section and footer section with more individual page &  post layout options, fully customizer based theme options. Education Xpert is very easy to use for all types of educational institutions website like online courses, colleges, universities, schools, and different other education-based websites. also, Education Xpert Free Education WordPress Themes is fully translation ready, a powerful options panel, child theme support, quality code, reorder all sections, site speed optimized, responsive, cross-browser compatible, good documentation, SEO friendly and supports WooCommerce and some other external plugins like element page builder, Page Builder by SiteOrigin, Jetpack, Contact Form 7 and many more plugins. If you face any problem or issue related to our education theme, you can refer to our theme documentation or contact our friendly support team. Check demo at http://demo.sparklewpthemes.com/educationxpert and theme details at https://sparklewpthemes.com/wordpress-themes/educationxpert and get free support forum at https://sparklewpthemes.com/support/
Version: 1.2.4
Tested up to: 6.2
Requires PHP: 5.6
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Template: educenter
Text Domain: education-xpert
Tags: left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, custom-logo, featured-images, footer-widgets, full-width-template, theme-options, threaded-comments, translation-ready, e-commerce, education
*/


/**
 * Header
*/

.headerone .bottom-header {
    position: relative;
    padding: 25px 0;
    background: #fff;
    border-bottom: 1px solid #f5f5f5;
    z-index: 9;
    box-shadow: none;
}

.headerone .is-sticky .bottom-header {
    padding: 5px 0;
}

.headerone .bottom-header .contact-info .quickcontact .get-tuch {
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
}

.headerone .bottom-header .contact-info {
    width: 75%;
    text-align: right;
}

.headerone .bottom-header .contact-info .quickcontact .get-tuch ul li h4 {
    text-align: left;
}

.headerone .bottom-header .contact-info .quickcontact .get-tuch i,
.headerone .bottom-header .contact-info .quickcontact .get-tuch ul {
    display: inline-block;
    margin: 0 2px;
    vertical-align: middle;
}

.headerone .bottom-header .contact-info .quickcontact .get-tuch ul li h4 {
    margin-bottom: 0;
}

.headerone .bottom-header .contact-info .quickcontact .get-tuch ul li p {
    margin: 0;
    font-size: 16px;
}

.headerone .bottom-header .contact-info .quickcontact .get-tuch i {
    font-size: 42px;
    color: #004A8D;
    margin-right: 8px;
}

.general-header .top-header .contact-info ul li.fa {
    font-weight: 700;
}

.edu-topnav ul li.fa:before {
    color: #fff;
    font-size: 15px;
    margin-right: 5px;
}


/**
 * Main Menu
*/

.headerone .nav-menu {
    position: relative;
    z-index: 8;
}

.headerone .nav-menu .box-header-nav {
    position: relative;
}

.headerone .nav-menu .box-header-nav:before {
    background: #fff;
    content: "";
    height: 80px;
    left: -31px;
    position: absolute;
    top: -42px;
    -webkit-transform: rotate(-38deg);
    -moz-transform: rotate(-38deg);
    -ms-transform: rotate(-38deg);
    -o-transform: rotate(-38deg);
    transform: rotate(-38deg);
    width: 66px;
    box-shadow: 2px -8px 9px -4px #000000ab;
}

.headerone .nav-menu .box-header-nav:after {
    background: #fff;
    content: "";
    height: 80px;
    position: absolute;
    right: -31px;
    top: -42px;
    -webkit-transform: rotate(38deg);
    -moz-transform: rotate(38deg);
    -ms-transform: rotate(38deg);
    -o-transform: rotate(38deg);
    transform: rotate(38deg);
    width: 66px;
    box-shadow: 2px -8px 9px -6px #000000ab;
}

.headerone .nav-menu .box-header-nav {
    float: none;
    background: #fff;
}

.headerone .box-header-nav>.main-menu {
    text-align: center;
}

.headerone .box-header-nav .main-menu .page_item a,
.headerone .box-header-nav .main-menu>.menu-item>a {
    line-height: 30px;
}

.headerone .box-header-nav .main-menu>ul>.page_item,
.headerone .box-header-nav .main-menu>.menu-item {
    display: inline-block;
    float: none;
}

.box-header-nav .main-menu .children>.page_item>a,
.box-header-nav .main-menu .sub-menu>.menu-item>a {
    text-align: left;
}

.ed-slider,
.ed-breadcrumb {
    margin-top: -55px;
    z-index: 0;
}


/*
 * AboutUs Section
*/

.edu-press-wrap {
    display: table;
    width: 100%;
}

.edu-press-wrap>* {
    display: table-cell;
    vertical-align: middle;
}

.ed-about-us.layout-2 .ed-about-content {
    position: relative;
    float: none;
    padding-left: 0;
    padding-right: 0;
    width: auto;
    padding-right: 30px;
}

.ed-about-us.layout-2 .ed-about-image {
    position: relative;
    float: none;
    width: 35%;
    right: 0;
    bottom: 0;
}

.ed-about-us.layout-2 .ed-about-list h3.ui-accordion-header {
    color: #fff;
    background: #004a8d;
    margin-bottom: 10px;
    padding: 10px 35px;
    font-weight: 400;
    position: relative;
    cursor: pointer;
    outline: none;
}

.ed-about-us.layout-2 .ed-about-list h3.ui-accordion-header:before {
    content: '\f067';
    position: absolute;
    font-family: 'Font Awesome 5 Free',
        'FontAwesome';
    font-size: 16px;
    font-weight: 900;
    width: 30px;
    height: 30px;
    background: #004a8d;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    border: 3px solid #fff;
    left: -18px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    text-align: center;
    line-height: 30px;
    transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
}

.ed-about-us.layout-2 .ed-about-list h3.ui-accordion-header.ui-accordion-header-active:before {
    content: '\f068';
}

.ed-about-us.layout-2 .ed-about-list h3.ui-accordion-header.ui-state-active {
    margin-bottom: 0;
}

.ed-about-us.layout-2 .ed-about-list .ui-accordion-content {
    display: block;
    font-size: 16px;
    padding: 12px 25px;
    background: #fff;
    margin-bottom: 10px;
    box-shadow: 1px 1px 16px 2px #cecece70;
}

.ed-about-us.layout-2.ed-accordin-layout .ed-about-list {
    padding: 0 15px;
}


/**
 * Slider Features Services Area
*/

.edu-section-wrapper.edu-features-wrapper {
    margin-top: -125px;
    z-index: 999;
    position: relative;
}

.edu-features-wrapper .edu-column-wrapper .single-post-wrapper {
    display: inline-block;
    vertical-align: top;
    /*width: 31.8%;
    margin-right:2%;*/
    margin: 0 -2px;
    margin-right: 3%;
    width: 31%;
    text-align: center;
    background: #004a8d;
    color: #fff;
    padding: 20px 30px;
    font-size: 18px;
    margin-bottom: 25px;
    cursor: pointer;
    position: relative;
    line-height: 1.6;
}

.edu-features-wrapper .edu-column-wrapper .single-post-wrapper:nth-child(3n) {
    margin-right: 0;
}

.edu-features-wrapper .edu-column-wrapper .single-post-wrapper.edu-column-1 {
    background: #f17d80 none repeat scroll 0 0;
}

.edu-features-wrapper .edu-column-wrapper .single-post-wrapper.edu-column-2 {
    background: #68a8ad none repeat scroll 0 0;
}

.edu-features-wrapper .edu-column-wrapper .single-post-wrapper.edu-column-3 {
    background: #9c1472 none repeat scroll 0 0;
}

.edu-features-wrapper .edu-column-wrapper .single-post-wrapper.edu-column-4 {
    background: #737495 none repeat scroll 0 0;
}

.edu-features-wrapper .edu-column-wrapper .single-post-wrapper.edu-column-5 {
    background: #628e2a none repeat scroll 0 0;
}

.edu-features-wrapper .edu-column-wrapper .single-post-wrapper.edu-column-6 {
    background: #6c8672 none repeat scroll 0 0;
}

.edu-features-wrapper .edu-column-wrapper .single-post-wrapper .icon-holder {
    font-size: 50px;
    margin-bottom: 15px;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    display: inline-block;
    background-color: rgba(76, 76, 76, 0.25);
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 0px 0px #fff, 4px 3px 6px 2px #1c1b1b1c;
    box-shadow: 0px 0px 0px 0px #fff, 4px 3px 6px 2px #1c1b1b1c;
}

.edu-features-wrapper .edu-column-wrapper .single-post-wrapper h3.post-title {
    margin-bottom: 10px;
    color: inherit;
}

.edu-features-wrapper .edu-column-wrapper .single-post-wrapper h3.post-title a {
    color: inherit;
    font-weight: 400;
    font-size: 28px;
    text-transform: capitalize;
    position: relative;
}


/**
 * Responsive
*/

@media (max-width: 1250px) {
    .headerone .nav-menu .box-header-nav:before {
        background: #fff;
        content: "";
        height: 66px;
        left: 0;
        position: absolute;
        top: -30px;
        -webkit-transform: rotate(-38deg);
        -moz-transform: rotate(-38deg);
        -ms-transform: rotate(-38deg);
        -o-transform: rotate(-38deg);
        transform: rotate(-38deg);
        width: 66px;
    }

    .headerone .nav-menu .box-header-nav:after {
        background: #fff;
        content: "";
        height: 66px;
        position: absolute;
        right: 0;
        top: -30px;
        -webkit-transform: rotate(38deg);
        -moz-transform: rotate(38deg);
        -ms-transform: rotate(38deg);
        -o-transform: rotate(38deg);
        transform: rotate(38deg);
        width: 66px;
    }

    .edu-section-wrapper.edu-features-wrapper {
        margin-top: -75px;
    }
}

@media (max-width: 1100px) {
    .header-middle-inner>* {
        display: block;
        text-align: center;
    }

    .header-middle-inner>*:not(:last-child) {
        padding-right: 0;
        margin-bottom: 20px;
    }

    .headerone .bottom-header .contact-info {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 1000px) {
    .edu-section-wrapper.edu-features-wrapper {
        margin-top: -50px;
    }

    .edu-features-wrapper .edu-column-wrapper .single-post-wrapper {
        width: 49%;
        margin-right: 2%;
    }

    .edu-features-wrapper .edu-column-wrapper .single-post-wrapper:nth-child(3n) {
        margin-right: 2%;
    }

    .edu-features-wrapper .edu-column-wrapper .single-post-wrapper:nth-child(2n),
    .edu-features-wrapper .edu-column-wrapper .single-post-wrapper:nth-child(4n),
    .edu-features-wrapper .edu-column-wrapper .single-post-wrapper:nth-child(6n),
    .edu-features-wrapper .edu-column-wrapper .single-post-wrapper:nth-child(8n) {
        margin-right: 0;
    }
}

@media (max-width: 900px) {
    .headerone .nav-menu .box-header-nav {
        position: absolute;
    }

    .ed-slider,
    .ed-breadcrumb {
        margin-top: 0;
    }

    .headerone .nav-menu {
        background: #fff;
    }

    .headerone .box-header-nav>.main-menu {
        text-align: left;
    }

    .ed-slider.slider-layout-2 .lSAction>a {
        z-index: 1;
    }

    .site-branding {
        display: flex;
        padding: 15px 0;
        justify-content: space-between;
        align-items: center;
    }
}

@media (max-width: 860px) {
    .edu-section-wrapper.edu-features-wrapper {
        margin-top: 25px;
        z-index: 0;
    }

    .ed-slider .ed-slide div .ed-slider-info h2 {
        font-size: 40px;
    }

    .ed-slider .ed-slide div .ed-slider-info {
        top: 60%;
    }

    .ed-about-us.layout-2 .ed-about-content {
        padding-right: 0;
    }

    .edu-press-wrap>* {
        display: block;
        vertical-align: middle;
    }

    .ed-about-us.layout-2 .ed-about-image {
        width: 100%;
    }

    .ed-footer .ed-col-3 .ed-col {
        width: 48%;
        margin-right: 1%;
    }

    .ed-footer .ed-col-3 .ed-col:nth-child(3n) {
        margin-right: 1%;
    }
}

@media (max-width: 768px) {
    .header-middle-inner>*:not(:last-child) {
        margin-bottom: 0;
    }

    .headerone .bottom-header .contact-info .quickcontact .get-tuch {
        margin-left: 0;
        margin-bottom: 25px;
    }
}

@media(max-width: 700px) {

    .general-header .top-header,
    .headerone .bottom-header .contact-info {
        display: none;
    }

    .headerone .bottom-header {
        padding: 0;
    }
}

@media (max-width: 570px) {
    .edu-features-wrapper .edu-column-wrapper .single-post-wrapper {
        width: 100%;
        margin-right: 0;
    }

    .ed-slider .ed-slide div .ed-slider-info h2 {
        font-size: 30px;
    }

    .headerone .bottom-header {
        padding-bottom: 0;
    }
}